textarea {
    min-height: 300px;
}

.menu-icon {
    display: block;
}

.menu-text {
    display: none;
}

.login-container {
    padding: 8vw;
    margin-top: 25vh;
    max-width: 550px;
}
.logged_user_text {
    font-size: 1.2em;
    font-weight: 700;
}

@media screen and (min-width: 545px) {

    .logged_user_text {
        font-size: 2em;
    }

    .menu-icon {
        display: none;
    }

    .menu-text {
        display: block;
    }
}