textarea {
    min-height: 330px;
}

.menu-icon {
    display: block;
}

.menu-text {
    display: none;
}

@media screen and (min-width: 545px) {

    .menu-icon {
        display: none;
    }

    .menu-text {
        display: block;
    }
}