textarea {
    min-height: 400px;
}

.menu-icon {
    display: none;
}

.menu-text {
    display: block;
}

@media only screen and (max-width: 545px) {
    .menu-icon {
        display: block;
    }

    .menu-text {
        display: none;
    }
}