{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div class="pb-3">
        <div class="row">
            <div class="col text-center">
                <h2>{{ request.user.email }}</h2>
            </div>
        </div>
        <div class="row border-bottom pb-4 pt-2 px-3">
            <div class="col">
                <button class="btn btn-sm btn-outline-primary btn-block" id="compose">
                    <i class="fas fa-pen menu-icon py-1"></i>
                    <span class="menu-text">Compose</span>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-outline-primary btn-block" id="inbox">
                    <i class="fas fa-inbox menu-icon py-1"></i>
                    <span class="menu-text">Inbox</span>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-outline-primary btn-block" id="sent">
                    <i class="fas fa-paper-plane menu-icon py-1"></i>
                    <span class="menu-text">Sent</span>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-sm btn-outline-primary btn-block" id="archived">
                    <i class="fas fa-archive menu-icon py-1"></i>
                    <span class="menu-text">Archive</span>
                </button>
            </div>
            <div class="col">
                <a class="btn btn-sm btn-outline-primary btn-block" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt menu-icon py-1"></i>
                    <span class="menu-text">Log Out</span>
                </a>
            </div>
        </div>
    </div>
    

    <div id="emails-view">
    </div>

    <div id="single-email-view">
    </div>

    <div id="compose-view">
        <div class="px-3">
            <h3>New Email</h3>
            <form id="compose-form">
                <div class="form-group">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <div class="pt-3 pb-5">
                    <input type="submit" class="btn btn-primary"/>
                </div>
            </form>
        </div>  
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}